*{
    font-family: Georgia, 'Times New Roman', Times, serif
}

.jumbotron {
    background: linear-gradient(to right, #FAA094FF 00%, #FFDDE2FF 50%, #9ED9CCFF 100%);
  
}

.card-title {
    font-size: 20px;
}

.employee-card {
    margin: 5px;
    width: 25%;
}
#interny {
    background-color: #9ED9CCFF;
    
}

#managery {
    background-color: #FAA094FF;
    
}

#engineery {
    background-color: #FFDDE2FF;
    
}